h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altezza minima del viewport */
}

.container {
  margin-top: 20px;
}

.section,
.about-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 20px;
}

#about-section {
  text-align: center;
  padding: 50px 0;
}

.card,
a.cta {
  transition: color 0.3s, font-weight 0.3s, transform 0.3s;
}

.card:hover,
a.cta:hover {
  transform: scale(1.05);
}

a.cta:hover {
  color: #007bff;
  font-weight: bold;
}

a.cta {
  color: #007bff;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section h2 {
  color: #007bff;
  margin-bottom: 20px;
}

#footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  height: 200px; /* Regola l'altezza del logo */
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #007bff;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}
.container {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

#footer-logo img {
  height: 50px;
}

/* Stili per dispositivi mobili */
@media (max-width: 767px) {
  .container {
    margin-top: 10px;
  }

  .card {
    margin-bottom: 10px;
  }

  #footer-logo img {
    height: 30px;
  }
}
